
@{
    ViewBag.Title = "ForgetPassword";
}

<h2>ForgetPassword</h2>

<h2>@ViewBag.Success</h2>

<form method="post" action="ForgetPassword">
    <div class="container">
        <span class="form-control-sm">
            Email:
        </span>
        <input class="form-control" type="text" name="Email" />
        <input class="btn btn-primary" type="submit" value="Submit" />
    </div>

</form>
