@model MyApp.Models.MealCost

@*@{
    ViewBag.Title = "ShowMealRate";
}*@


<div class="container mt-5">
    <h4 class="text-info">Meal Rate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <span>Current meal rate is <b>@Html.DisplayFor(model => model.MealCost1) Tk</b> per meal.</span>
            
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MealCostId }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
